.phpunit.result.cache
config/admins.php
config/config.php
composer.phar
/vendor/
composer.lock
/backups/*
/cache/*
*.log
npm-debug.log*
yarn-debug.log*
# Optional npm cache directory
.npm
node_modules
build
npm-debug.log
.env
.DS_Store
phpunit.xml
